.collapseImg {
    height: 800px;
    width: 150px;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px;
}
.expandImg{
    height: 800px;
    width: 600px;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px;
}